@import '@fontsource/fira-mono';

@font-face {
    font-family: 'Lato Medium';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Lato-Regular.ttf'); 
}

:root {
	--font-body: Lato Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
    --text-base: 1rem;
    --text-sm: 0.75rem;
    --text-xs: 0.65rem;
    --text-spacing: 0.1rem;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
    --color-theme-1: #FF695A;
    --color-theme-2: #E5007F;
    --color-theme-3: #00A399;
    --color-yellow: #FEF4E5;
    --color-grey-light: #D1CEC7;
    --color-grey-mid: #555555;
    --color-grey-dark: #333333;
    --color-grey-darkest: #262626;
    --color-box-shadow: rgba(51, 51, 51, 0.5);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-grey-dark);
	background-size: 100vw 100vh;
    letter-spacing: 0.1rem;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
    color: inherit;
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2, h3 {
    text-transform: uppercase;
    color: var(--color-yellow);
	
}

h2 {
    font-size: var(--text-sm);
}

h3 {
    font-size: var(--text-xs);
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

